
.home-container{
    display: flex;
    flex-direction: column;
    width: 275px;
    height: 600px;
    background-color: #f0f0f0;
    overflow: hidden;
    top:114px;
}
.iphonestatus{
    z-index: 100;
    height: 33px;
    width: 102%;
  }

.top-bar-chat{
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    height: 65px;
    width: 98%;
    color: black;
    z-index: 1001;
    font-family: 'Work Sans', sans-serif;
    justify-content: flex-start;
    align-items: center;
    background: white;
    font-size: 16px;
    font-weight: 500;
}
.chevron-left-chat{
    padding-right:20px;
    padding-left:20px;
    height: 18px;
    z-index: 1001;
}

.profile-button{
    height:28px;
    padding-right:20px;
    padding-left:58px;
}
.content-meat-chat{
    width: 100%;
    height: 493px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url("../public/chatBackground.png");
    animation: .7s ease-out 0s 1 fadeIn;
}

.mainText{
    font-size:20px !important;
    font-family: 'Work Sans', sans-serif !important;
    font-weight: bolder !important;
    letter-spacing:-1px !important;
    margin-top:25px !important;
    margin-bottom:10px !important;
}
.subText{
    width: 85% !important;
    font-family: 'Nunito', sans-serif !important;
    font-size: 11px !important;
    font-weight: 600 !important; 
    letter-spacing: -.2px !important;
    margin:0 !important;
}
.black{
    color: black;
    text-decoration: none;
    z-index: 1001;
}
.Home-Buttons{
    width: 245px;
    height: 75px;
    background: #E4CEFB;
    margin-bottom:10px;
    border-radius:4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bottom-bar{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 69px;
}
.chat-bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 49px;
    z-index: 1001;
    box-shadow: 0px -3px 3px rgba(50, 50, 50, 0.075);
}
.message-bar{
    margin-top:8px;
    border-radius: 16px;
    margin-left:42px;
    height: 25px;
    width: 190px;
    border:.5px solid #ababac50;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    
}
.message-placeholder{
    padding-left: 10px;
    font-size: 11px;
    color:#AAAAAA;
}
.nav-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    color: #8C8CA1;

}
.voiceIcon{
    margin-top:10px;
    margin-left:12px;
    height: 25px;
}
.stickerIcon{
    margin-right:10px;
    height: 18px;
}
.i-l{
    padding-left:7.25px ;
}
.nav-item-s{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65px;
    color: #8C8CA1;
}
.navIcon{
    height:18px;

}
.botton-notch{
    height: 20px;
}

.chat-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.chat-icon{
    height: 28px;
    padding-left:3px;
}
.chat-avatar{
    height: 30px;
    width: 30px;
}
.NameandTime{
    display: flex;
    flex-direction: column;
    padding-right:5px;
}
.chat-name{
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -.5px;
    padding-left:2px;
}
.active-status{
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -.5px;
    padding-left:2px;
    color:#AAAAAA;
}
.chat-padding{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin-top:15%;
    margin-bottom:10%;
    align-items: center;
}
.chat-date{
    background: #E4CEFB;
    width: 100px;
    text-align: center;
    font-size: 12px;
    font-weight: 650;
    color: black;
    height: 25px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}
.chat-message{
    margin-top:15px;
    display: flex;
    position: relative;
    align-self: flex-end;
    width: 90%;
    height: auto;
    border-radius: 8px;
    background: #DCF7C5;
}
.chat-message p{
    padding-left:10px;
    width: 80%;

    font-family: 'Nunito', sans-serif;
    font-size: 11.2px;
    font-weight: 500;
}
.seenTime{
    position: absolute;
    bottom: 7px;
    right:10px;
    font-size: 10px;
    font-weight: 600;
    color:#717171;
    font-family: 'Nunito', sans-serif;
}
.seenCheck{
    height: 10px;
}